@font-face {
    font-family: static;
    src: url(/assets/font/PlayfairDisplay-VariableFont_wght.ttf);
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  

  a:link{
    color:rgb(255, 240, 221);
    text-decoration: none;
  }
  
  a:visited{
    color:rgb(255, 240, 221);
    text-decoration: none;
  }
  
  a:hover{
    color:rgb(255, 240, 221);
    text-decoration:none;
  }

  body{
    background-color: black;
    text-align: center;
  }

  .bull{
    display:inline-block;
    width:30px;
    margin-top:2rem;
  }

  .home{
    position: absolute;
    top: 0.5rem;
    right: 3rem;
    width:4rem;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  
  .intro{
    display: flex;
    justify-content: center;
    font-size:18px;
    font-family: static;
    color:rgb(255, 240, 221);
    letter-spacing: 2px;
  }
  
  .hr-1{
    margin-right:590px;
    margin-left:590px;
    border-color:rgba(255, 228, 196, 0.5);
    opacity: 0.5;
  }
  
  .front-end{
    font-size:12px;
    font-family: static;
    display: flex;
    justify-content: center;
    color:rgb(255, 240, 221);
    padding:3px;
  }
  
  .hr-2{
    margin-right:590px;
    margin-left:590px;
    border-color:rgba(255, 228, 196, 0.5);
    opacity: 0.5;
  }

  .about-me{
    display: flex;
    justify-content: center;
    text-align: justify;
    font-size:19px;
    font-family: static;
    color:rgb(255, 240, 221);
    margin-top: 2rem;
    letter-spacing: 2px;
  }

  .who-I-am{
    display: inline-block;
    font-size:17px;
    font-family: static;
    color:rgb(255, 240, 221);
    width:70%;
    margin-top:2rem;
    letter-spacing: 2px;
    line-height: 2;
  }

  .footer-container{
    height:70px;
  }
  
  .footer{
    margin-top:9rem;
    color:rgb(255, 240, 221);
    font-size:12px;
    font-family: static;
    display:flex;
    justify-content: center;
    letter-spacing: 2px;
  }

  