@font-face {
    font-family: "RobotoSlab";
    src: url(/font/Roboto_Slab/RobotoSlab-VariableFont_wght.ttf)
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
span{
    color:#06f325;
}
.fa-circle-notch {
    color:#06f325;
    text-decoration: transparent;
}
a:link{
    text-decoration: none;
    color:white;
}
a:visited{
    color:white;
}
.container-fluid{
    background-size: cover;
    background-color: black;
}
.aboutmeimage-1{
    max-width: 100%;
}
footer{
    background-color: black;
}
.CodebySam{
    color: white;
    font-size: 15px;
    font-family: RobotoSlab;
    margin-left:85px;
}
.black-container{
    background-image: url(../images/Matrixcode.gif);
    background-size: contain;
    width:200px;
    height:200px;
    border: 2px solid #561f7a67;
    margin-left:20px;
    margin-top: -120px;
    border-radius: 60px;
}
.name{
    font-size: 20px;
    font-family: RobotoSlab;
    margin-top: 110px;
    margin-left: 55px;
    color: rgba(255, 255, 255, 0.973);
}
.surname{
    font-size: 20px;
    font-family: RobotoSlab;
    margin-top: -18px;
    margin-left: 75px;
    color: rgba(255, 255, 255, 0.973)
}
.full-stack-developer {
    font-size: 13px;
    font-family: RobotoSlab;
    margin-left:45px;
    margin-top: -18px;
    color: rgba(255, 255, 255, 0.973);
}
.icon-cv{
    width:24px;
    height: 24px;
    margin-left:434px;
    margin-top:-230px;
}
.icon-instagram{
    width:24px;
    height: 24px;
    margin-left:434px;
    margin-top:-210px;
}
.icon-github{
    width:24px;
    height: 24px;
    margin-left:434px;
    margin-top:-190px;
}
.icon-in{
    width:24px;
    height: 24px;
    margin-left:434px;
    margin-top:-170px;
}
.Aboutme-1{
    font-size: 22px;
    color: white;
    margin-left: 180px;
    font-family: RobotoSlab;
}
.aboutmeimage-1{
    margin-left:55px;
}
.btn-outline-danger{
    font-family:RobotoSlab;
    margin-left:80px;
    margin-top: 20px;
    width:150px;
    height:40px;
}
.btn-outline-primary{
   font-family:RobotoSlab;
   margin-left:45px;
   margin-top: 20px;
   width:150px;
   height:40px;    
}   
.Aboutme {
    font-size:20px;
    font-family: RobotoSlab;
    color: white;
    margin-left:170px;
}
.aboutmecontent {
    font-size: 15px;
    font-family: RobotoSlab;
    color: white;
    margin-left: 20px;
    margin-right: 20px;
}
.rockets{
    height:22px;
    width:22px;
}
.passion{
    font-size: 18px;
    color: white;
    margin-left: 160px;
    margin-top: -60px;
    font-family: RobotoSlab;
}
.hr-1{
    color: rgb(4, 214, 252);
    margin-left: 150px;
    margin-right:180px;
}
.icon-2{
    margin-left: 120px;
    margin-top:-20px;
    width: 55px;
    height: 65px;
}
.icon-3{
    margin-left: 70px;
    margin-top:-15px;
    width: 50px;
    height: 50px;
}
.writing{
    font-size:20px;
    font-family: RobotoSlab;
    color: white;
    margin-left: 10px;
    margin-top:180px;
}
.hr-2{
    color: rgb(255, 52, 86);
    margin-left: 10px;
    margin-right:10px;
}
.Entropia{
    width:150px;
    height:200px;
    margin-top:20px;
    margin-left: 10px;
}
h5{
    font-size: 15px;;
    margin-top:-180px;
    margin-left:180px;
    font-family: RobotoSlab;
    color: rgba(43, 226, 141, 0.733);
}
.caption1{
    font-family: RobotoSlab;
    font-size:13px;
    color: white;
    margin-left: 180px;
}
.Angeliperduti{
    width:150px;
    height:200px;
    margin-top:110px;
    margin-left: 310px;
}
.title2{
    font-size: 15px;
    font-family: RobotoSlab;
    margin-left:10px;
    margin-top:-160px;
    color: rgb(255, 52, 86);
}
.caption2{
    font-family: RobotoSlab;
    font-size:13px;
    color: white;
    margin-left: 10px;
    margin-right: 150px; 
    margin-top:-5px;
}
.cinema{
    font-size:20px;
    font-family: RobotoSlab;
    color: white;
    margin-left: 10px;
    margin-top: 240px;
}
.hr-3{
    color:rgba(43, 226, 141, 0.733);
    margin-left: 10px;
    margin-right:10px
}
.caption3{
    font-size: 15px;;
    margin-top:-180px;
    margin-left:180px;
    font-family: RobotoSlab;
    color:white
}
.hr-4{
    margin-left:180px;
    margin-right:20px;
    color:rgb(255, 52, 86) ;
}
.thin-red-line{
    font-size:15px;
    font-family: RobotoSlab;
    color:rgb(255, 52, 86) ;
    margin-left:320px;
    margin-top:-10px;
}
.caption4{
    font-size: 16px;;
    margin-top:-170px;
    margin-left:10px;
    margin-right: 200px;
    font-family: RobotoSlab;
    color:white
}
.Fellini{
    font-size: 15px;;
    margin-top:-10px;
    margin-left:160px;
    font-family: RobotoSlab;
    color:rgba(43, 226, 141, 0.733)
}
.icon-cv-3{
    height:45px;
    width:45px;
    margin-left:60px;
    margin-top: 200px;
    margin-bottom:80px;
}
.icon-instagram-3{
    height:45px;
    width:45px;
    margin-left:50px;
    margin-top: 200px;
    margin-bottom:80px;
}
.icon-github-3{
    height:45px;
    width:45px;
    margin-left:50px;
    margin-top:200px;
    margin-bottom:80px;
}
.icon-linkedin-3{
    height:45px;
    width:45px;
    margin-left:50px;
    margin-top:200px;
    margin-bottom:80px;
}
.Skills {
    font-size: 20px;
    font-family: RobotoSlab;
    color: white;
    margin-left:140px;
}
.icon-cv-2{
    height:40px;
    width:40px;
    margin-left:85px;
    margin-top:30px;
}
.icon-instagram-2{
    height:40px;
    width:40px;
    margin-left:50px;
    margin-top:30px;
}
.icon-github-2{
    height:40px;
    width:40px;
    margin-left:50px;
    margin-top:30px;
}
.icon-linkedin-2{
    height:40px;
    width:40px;
    margin-left:50px;
    margin-top:30px;
}
.contact{
    font-family: RobotoSlab;
    font-size: 20px;
    color:white;
    margin-left:200px;
    margin-top:70px;
}
.hr-5{
    color:rgb(253, 29, 66);
    margin-left: 150px;
    margin-right:150px;
    margin-top:10px;
}
form{
    margin-left:160px;
    margin-top:30px;
    height:360px;
}
input{
    width:180px;
    height:60px;
    border: 2px solid rgba(162, 0, 255, 0.76);
    border-radius:20px;
}
button{
    width:55px;
    height:30px;
    border: 1px solid rgba(162, 0, 255, 0.76);
}
.background{
    max-width: 100%;
}
.outro{
    font-size: 13px;
    font-family: RobotoSlab;
    color: white;
    margin-left: 15px;
    margin-top:-20px;
}
.container-cv{
    width:575px;
    height:254px;
    background-color: rgba(155, 5, 255, 0.288);
    margin-top:-310px;
    margin-left:-110px;
    border-radius: 150px;
    border:2px solid white
}
.photo-cv{
    width:230px;
    height:320px;
    margin-left:231px;
    margin-top:30px;
}
h4{
    font-size:22px;
    font-family: RobotoSlab;
    color: rgb(56, 197, 131);
    margin-left:100px;
    margin-top: 100px;
}
.hr-cv{
    color:rgb(253, 29, 66);
    margin-left:80px;
    margin-right:80px;
}
.info-cv{
    font-size:16px;
    font-family: RobotoSlab;
    color: white;
    margin-left:100px;
    margin-right:100px;
    margin-top:20px;
}
.footer-cv{
    width:66px;
    height:66px;
    margin-top:120px;
    margin-bottom:50px;
    margin-left:200px;
}

@media (min-width: 576px){
    .CodebySam{
        color: white;
        font-size: 15px;
        font-family: RobotoSlab;
        margin-left:85px;
    }
    .black-container{
        background-image: url(../images/Matrixcode.gif);
        background-size: contain;
        width:220px;
        height:220px;
        border: 2px solid #561f7a67;
        margin-left:20px;
        margin-top: -120px;
        border-radius: 60px;
    }
    .name{
        font-size: 20px;
        font-family: RobotoSlab;
        margin-top: 110px;
        margin-left: 55px;
        color: rgba(255, 255, 255, 0.973);
    }
    .surname{
        font-size: 20px;
        font-family: RobotoSlab;
        margin-top: -15px;
        margin-left: 75px;
        color: rgba(255, 255, 255, 0.973)
    }
    .full-stack-developer {
        font-size: 17px;
        font-family: RobotoSlab;
        margin-left:35px;
        margin-top: -10px;
        color: rgba(255, 255, 255, 0.973);
    }
    .icon-cv{
        width:22px;
        height: 22px;
        margin-left:500px;
        margin-top:-270px;
    }
    .icon-instagram{
        width:22px;
        height: 22px;
        margin-left:500px;
        margin-top:-250px;
    }
    .icon-github{
        width:22px;
        height: 22px;
        margin-left:500px;
        margin-top:-230px;
    }
    .icon-in{
        width:22px;
        height: 22px;
        margin-left:500px;
        margin-top:-210px;
    }
    .Aboutme-1{
        font-size: 22px;
        color: white;
        margin-left: 215px;
        font-family: RobotoSlab;
    }
    .aboutmeimage-1{
        margin-left:90px;
    }
    .btn-outline-danger{
        font-family:RobotoSlab;
        margin-left:80px;
        width:180px;
        height:40px;
    }
    .btn-outline-primary{
       font-family:RobotoSlab;
       margin-left:55px;
       width:180px;
       height:40px;    
   }  
    .Aboutme {
        font-size:20px;
        font-family: RobotoSlab;
        color: white;
        margin-left:210px;
    }
    .aboutmecontent {
        font-size: 15px;
        font-family: RobotoSlab;
        color: white;
        margin-left: 50px;
        margin-right: 50px;
    }
    .rockets{
        height:22px;
        width:22px;
    }
    .passion{
        font-size: 20px;
        color: white;
        margin-left: 210px;
        margin-top: -60px;
        font-family: RobotoSlab;
    }
    .hr-1{
        color: rgb(4, 214, 252);
        margin-left: 170px;
        margin-right:200px;
    }
    .icon-2{
        margin-left: 150px;
        margin-top:-20px;
        width: 65px;
        height: 75px;
    }
    .icon-3{
        margin-left: 110px;
        margin-top:-15px;
        width: 60px;
        height: 60px;
    }
    .writing{
        font-size:20px;
        font-family: RobotoSlab;
        color: white;
        margin-left: 30px;
        margin-top:180px;
    }
    .hr-2{
        color: rgb(255, 52, 86);
        margin-left: 30px;
        margin-right:30px;
    }
    .Entropia{
        width:150px;
        height:200px;
        margin-top:30px;
        margin-left: 30px;
    }
    h5{
        font-size: 15px;;
        margin-top:-150px;
        margin-left:200px;
        font-family: RobotoSlab;
        color: rgba(43, 226, 141, 0.733);
    }
    .caption1{
        font-family: RobotoSlab;
        font-size:13px;
        color: white;
        margin-left: 200px;
    }
    .Angeliperduti{
        width:150px;
        height:200px;
        margin-top:110px;
        margin-left: 390px;
    }
    .title2{
        font-size: 15px;
        font-family: RobotoSlab;
        margin-left:20px;
        margin-top:-160px;
        color: rgb(255, 52, 86);
    }
    .caption2{
        font-family: RobotoSlab;
        font-size:13px;
        color: white;
        margin-left: 20px; 
        margin-top:-5px;
    }
    .cinema{
        font-size:20px;
        font-family: RobotoSlab;
        color: white;
        margin-left: 30px;
        margin-top: 240px;
    }
    .hr-3{
        color:rgba(43, 226, 141, 0.733);
        margin-left: 30px;
        margin-right:30px
    }
    .caption3{
        font-size: 15px;;
        margin-top:-180px;
        margin-left:230px;
        font-family: RobotoSlab;
        color:white
    }
    .hr-4{
        margin-left:220px;
        margin-right:80px;
        color:rgb(255, 52, 86) ;
    }
    .thin-red-line{
        font-size:15px;
        font-family: RobotoSlab;
        color:rgb(255, 52, 86) ;
        margin-left:380px;
        margin-top:-10px;
    }
    .caption4{
        font-size: 16px;;
        margin-top:-170px;
        margin-left:30px;
        margin-right: 200px;
        font-family: RobotoSlab;
        color:white
    }
    .Fellini{
        font-size: 15px;;
        margin-top:-10px;
        margin-left:270px;
        font-family: RobotoSlab;
        color:rgba(43, 226, 141, 0.733)
    }
    .icon-cv-3{
        height:45px;
        width:45px;
        margin-left:115px;
        margin-top:180px;
    }
    .icon-instagram-3{
        height:45px;
        width:45px;
        margin-left:50px;
        margin-top:180px;
    }
    .icon-github-3{
        height:45px;
        width:45px;
        margin-left:50px;
        margin-top: 180px;
    }
    .icon-linkedin-3{
        height:45px;
        width:45px;
        margin-left:50px;
        margin-top:180px;
    }
    .Skills {
        font-size: 20px;
        font-family: RobotoSlab;
        color: white;
        margin-left:160px;
    }
    .icon-cv-2{
        height:40px;
        width:40px;
        margin-left:110px;
        margin-top:30px;
    }
    .icon-instagram-2{
        height:40px;
        width:40px;
        margin-left:50px;
        margin-top:30px;
    }
    .icon-github-2{
        height:40px;
        width:40px;
        margin-left:50px;
        margin-top:30px;
    }
    .icon-linkedin-2{
        height:40px;
        width:40px;
        margin-left:50px;
        margin-top:30px;
    }
    .contact{
        font-family: RobotoSlab;
        font-size: 20px;
        color:white;
        margin-left:230px;
        margin-top:70px;
    }
    .hr-5{
        color:rgb(253, 29, 66);
        margin-left: 150px;
        margin-right:150px;
        margin-top:10px;
    }
    form{
        margin-left:180px;
        margin-top:30px;
        height:360px;
    }
    input{
        width:180px;
        height:60px;
        border: 2px solid rgba(162, 0, 255, 0.76);
        border-radius:20px;
    }
    button{
        width:55px;
        height:30px;
        border: 1px solid rgba(162, 0, 255, 0.76);
    }
    .outro{
        font-size: 15px;
        font-family: RobotoSlab;
        color: white;
        margin-left: 30px;
    }
    .container-cv{
        width:604px;
        height:255px;
        background-color: rgba(155, 5, 255, 0.288);
        margin-top:-310px;
        margin-left:-110px;
        border-radius: 150px;
        border:2px solid white
    }
    .photo-cv{
        width:230px;
        height:320px;
        margin-left:260px;
        margin-top:30px;
    }
    h4{
        font-size:22px;
        font-family: RobotoSlab;
        color: rgb(56, 197, 131);
        margin-left:100px;
        margin-top: 100px;
    }
    .hr-cv{
        color:rgb(253, 29, 66);
        margin-left:80px;
        margin-right:80px;
    }
    .info-cv{
        font-size:16px;
        font-family: RobotoSlab;
        color: white;
        margin-left:100px;
        margin-right:100px;
        margin-top:20px;
    }
    .footer-cv{
        width:66px;
        height:66px;
        margin-top:120px;
        margin-left:246px;
    }
}

@media (min-width: 768px) {
    .CodebySam{
        font-size: 18px;
        margin-left:100px;
    }
    .black-container{
        width:260px;
        height:260px;
        border: 2px solid #561f7a67;
        margin-left:20px;
        margin-top: -120px;
        border-radius: 60px;
    }
    .name{
        font-size: 25px;
        margin-top: 115px;
        margin-left: 65px;
    }
    .surname{
        font-size: 25px;
        margin-top: -15px;
        margin-left: 95px;
    }
    .full-stack-developer {
        font-size: 18px;
        margin-left:45px;
    }
    .icon-cv{
        width:27px;
        height: 27px;
        margin-left:690px;
        margin-top:-310px;
    }
    .icon-instagram{
        width:27px;
        height: 27px;
        margin-left:690px;
        margin-top:-280px;
    }
    .icon-github{
        width:27px;
        height: 27px;
        margin-left:690px;
        margin-top:-250px;
    }
    .icon-in{
        width:27px;
        height: 27px;
        margin-left:690px;
        margin-top:-220px;
    }
    .Aboutme-1{
        font-size: 22px;
        margin-left: 300px;
    }
    .aboutmeimage-1{
        margin-left:180px;
    }
    .btn-outline-danger{
        margin-left:120px;
        width:200px;
        height:50px;
    }
    .btn-outline-primary{
       margin-left:110px;
       width:200px;
       height:50px;    
   }
    .Aboutme {
        font-size:25px;
        margin-left: 270px;
    }
    .aboutmecontent {
        font-size: 18px;
        margin-left: 110px;
    }
    .rockets{
        height:30px;
        width:30px;
    }
    .passion{
        font-size: 25px;
        margin-left: 280px;
        margin-top: -60px;
    }
    .hr-1{
        margin-left: 230px;
        margin-right:290px;
    }
    .icon-2{
        margin-left: 240px;
        margin-top:-20px;
        width: 65px;
        height: 65px;
    }
    .icon-3{
        margin-left: 100px;
        margin-top:-15px;
        width: 60px;
        height: 60px;
    }
    .writing{
        font-size:25px;
        margin-left: 50px;
        margin-top:180px;
    }
    .hr-2{
        margin-left: 50px;
        margin-right:50px;
    }
    .Entropia{
        width:200px;
        height:270px;
        margin-top:30px;
        margin-left: 50px;
    }
    h5{
        font-size: 17px;;
        margin-top:-220px;
        margin-left:290px;
    }
    .caption1{
        font-size:16px;
        margin-left: 290px;
    }
    .Angeliperduti{
        width:200px;
        height:270px;
        margin-top:200px;
        margin-left: 520px;
    }
    .title2{
        font-size: 17px;
        margin-left:50px;
        margin-top:-220px;
    }
    .caption2{
        font-size:16px;
        margin-left: 50px; 
        margin-top:-5px;
    }
    .cinema{
        font-size:25px;
        margin-left: 50px;
        margin-top: 240px;
    }
    .hr-3{
        margin-left: 50px;
        margin-right:50px
    }
    .caption3{
        font-size: 20px;;
        margin-top:-250px;
        margin-left:330px;
    }
    .hr-4{
        margin-left:320px;
        margin-right:80px;
    }
    .thin-red-line{
        font-size:16px;
        margin-left:570px;
        margin-top:-10px;
    }
    .caption4{
        font-size: 16px;;
        margin-top:-170px;
        margin-left:50px;
    }
    .Fellini{
        font-size: 17px;;
        margin-top:-10px;
        margin-left:400px;
    }
    .icon-cv-3{
        height:55px;
        width:55px;
        margin-left:170px;
        margin-top:280px;
    }
    .icon-instagram-3{
        height:55px;
        width:55px;
        margin-left:50px;
        margin-top:280px;
    }
    .icon-github-3{
        height:55px;
        width:55px;
        margin-left:50px;
        margin-top: 280px;
    }
    .icon-linkedin-3{
        height:55px;
        width:55px;
        margin-left:50px;
        margin-top:280px;
    }
    .Skills {
        font-size: 22px;
        margin-left:240px;
    }
    .icon-cv-2{
        height:50px;
        width:50px;
        margin-left:180px;
        margin-top:30px;
    }
    .icon-instagram-2{
        height:50px;
        width:50px;
        margin-left:50px;
        margin-top:30px;
    }
    .icon-github-2{
        height:50px;
        width:50px;
        margin-left:50px;
        margin-top:30px;
    }
    .icon-linkedin-2{
        height:50px;
        width:50px;
        margin-left:50px;
        margin-top:30px;
    }
    .contact{
        font-size: 25px;
        margin-left:310px;
        margin-top:70px;
    }
    .hr-5{
        margin-left: 250px;
        margin-right:250px;
        margin-top:10px;
    }
    form{
        margin-left:275px;
        margin-top:30px;
        height:360px;
    }
    input{
        width:200px;
        height:80px;
        border: 2px solid rgba(162, 0, 255, 0.76);
        border-radius:20px;
    }
    button{
        width:70px;
        height:35px;
        border: 1px solid rgba(162, 0, 255, 0.76);
    }
    .outro{
        font-size: 15px;
        margin-left:100px;
        margin-top:-20px;
    }
    .container-cv{
        width:604px;
        height:255px;
        margin-top:-310px;
        margin-left:-110px;
        border-radius: 150px;
        border:2px solid white
    }
    .photo-cv{
        width:230px;
        height:320px;
        margin-left:260px;
        margin-top:30px;
    }
    h4{
        font-size:23px;
        margin-left:100px;
        margin-top: 100px;
    }
    .hr-cv{
        margin-left:60px;
        margin-right:60px;
    }
    .info-cv{
        font-size:17px;
        margin-left:100px;
        margin-right:100px;
        margin-top:20px;
    }
    .footer-cv{
        width:86px;
        height:86px;
        margin-top:240px;
        margin-left:346px;
    }
}

@media (min-width: 992px) {
    .CodebySam{
        font-size: 20px;
        margin-left:105px;
    }
    .black-container{
        width:290px;
        height:290px;
        border: 2px solid #561f7a67;
        margin-left:20px;
        margin-top: -120px;
        border-radius: 65px;
    }
    .name{
        font-size: 30px;
        margin-top: 130px;
        margin-left: 65px;
    }
    .surname{
        font-size: 30px;
        margin-top: -15px;
        margin-left: 90px;
    }
    .full-stack-developer {
        font-size: 20px;
        margin-left:45px;
    }
    .icon-cv{
        width:30px;
        height: 30px;
        margin-left:900px;
        margin-top:-380px;
    }
    .icon-instagram{
        width:30px;
        height: 30px;
        margin-left:900px;
        margin-top:-330px;
    }
    .icon-github{
        width:30px;
        height: 30px;
        margin-left:900px;
        margin-top:-280px;
    }
    .icon-in{
        width:30px;
        height: 30px;
        margin-left:900px;
        margin-top:-230px;
    }
    .Aboutme-1{
        font-size: 25px;
        margin-left: 400px;
    }
    .aboutmeimage-1{
        margin-left:290px;
    }
    .btn-outline-danger{
        margin-left:140px;
        width:200px;
        height:50px;
    }
    .btn-outline-primary{
       margin-left:210px;
       width:200px;
       height:50px;    
   }
    .Aboutme {
        font-size:25px;
        margin-left: 400px;
    }
    .aboutmecontent {
        font-size: 18px;
        margin-left: 250px;
        margin-right: 250px;
    }
    .rockets{
        height:32px;
        width:32px;
    }
    .passion{
        font-size: 25px;
        margin-left: 400px;
        margin-top: -60px;
    }
    .hr-1{
        margin-left: 300px;
        margin-right:300px;
    }
    .icon-2{
        margin-left: 340px;
        margin-top:-20px;
        width: 80px;
        height: 80px;
    }
    .icon-3{
        margin-left: 540px;
        margin-top:-110px;
        width: 75px;
        height: 75px;
    }
    .writing{
        font-size:30px;
        margin-left: 110px;
        margin-top:180px;
    }
    .hr-2{
        margin-left: 50px;
        margin-right:50px;
    }
    .Entropia{
        width:260px;
        height:340px;
        margin-top: 50px;
        margin-left: 60px;
    }
    h5{
        font-size: 19px;;
        margin-top:-270px;
        margin-left:400px;
    }
    .caption1{
        font-size:17px;
        margin-left: 400px;
    }
    .Angeliperduti{
        width:260px;
        height:340px;
        margin-top:280px;
        margin-left: 610px;
    }
    .title2{
        font-size: 19px;
        margin-left:60px;
        margin-top:-270px;
    }
    .caption2{
        font-size:17px;
        margin-left: 60px; 
        margin-top:-10px;
    }
    .cinema{
        font-size:30px;
        margin-left: 110px;
        margin-top: 340px;
    }
    .hr-3{
        margin-left: 50px;
        margin-right:50px
    }
    .caption3{
        font-size: 20px;;
        margin-top:-270px;
        margin-left:430px;
    }
    .hr-4{
        margin-left:420px;
        margin-right:180px;
    }
    .thin-red-line{
        font-size:16px;
        margin-left:675px;
        margin-top:-10px;
    }
    .caption4{
        font-size: 18px;;
        margin-top:-270px;
        margin-left:60px;
    }
    .Fellini{
        font-size: 17px;;
        margin-top:-10px;
        margin-left:480px;
    }
    .icon-cv-3{
        height:65px;
        width:65px;
        margin-left:285px;
        margin-top:380px;
    }
    .icon-instagram-3{
        height:65px;
        width:65px;
        margin-left:50px;
        margin-top:380px;
    }
    .icon-github-3{
        height:65px;
        width:65px;
        margin-left:50px;
        margin-top: 380px;
    }
    .icon-linkedin-3{
        height:65px;
        width:65px;
        margin-left:50px;
        margin-top:380px;
    }
    .Skills {
        font-size: 25px;
        margin-left:340px;
    }
    .icon-cv-2{
        height:65px;
        width:65px;
        margin-left:280px;
        margin-top:30px;
    }
    .icon-instagram-2{
        height:65px;
        width:65px;
        margin-left:50px;
        margin-top:30px;
    }
    .icon-github-2{
        height:65px;
        width:65px;
        margin-left:50px;
        margin-top:30px;
    }
    .icon-linkedin-2{
        height:65px;
        width:65px;
        margin-left:50px;
        margin-top:30px;
    }
    .contact{
        font-size: 25px;
        margin-left:430px;
        margin-top:70px;
    }
    .hr-5{
        margin-left: 300px;
        margin-right:300px;
        margin-top:10px;
    }
    form{
        margin-left:395px;
        margin-top:30px;
        height:360px;
    }
    input{
        width:200px;
        height:80px;
        border: 2px solid rgba(162, 0, 255, 0.76);
        border-radius:20px;
    }
    button{
        width:70px;
        height:35px;
        border: 1px solid rgba(162, 0, 255, 0.76);
    }
    .outro{
        font-size: 16px;
        margin-left:220px;
        margin-top:-70px;
    }
    .container-cv{
        width:745px;
        height:255px;
        margin-top:-310px;
        margin-left:-110px;
        border-radius: 150px;
        border:2px solid white;
    }
    .photo-cv{
        width:230px;
        height:320px;
        margin-left:400px;
        margin-top:30px;
    }
    h4{
        font-size:25px;
        margin-left:100px;
        margin-top: 100px;
    }
    .hr-cv{
        margin-left:60px;
        margin-right:60px;
    }
    .info-cv{
        font-size:19px;
        margin-left:100px;
        margin-right:100px;
        margin-top:20px;
    }
    .footer-cv{
        width:86px;
        height:86px;
        margin-top:240px;
        margin-left:446px;
    }
}

@media (min-width: 1200px) {
    .CodebySam{
        font-size: 22px;
        margin-left:110px;
    }
    .black-container{
        width:320px;
        height:320px;
        border: 2px solid #561f7a67;
        margin-left:20px;
        margin-top: -120px;
        border-radius: 60px;
    }
    .name{
        font-size: 38px;
        font-family: RobotoSlab;
        margin-top: 130px;
        margin-left: 60px;
    }
    .surname{
        font-size: 38px;
        margin-top: -15px;
        margin-left: 95px;
    }
    .full-stack-developer {
        font-size: 23px;
        margin-left:45px;
    }
    .icon-cv{
        width:37px;
        height: 37px;
        margin-left:1250px;
        margin-top:-440px;
    }
    .icon-instagram{
        width:37px;
        height: 37px;
        margin-left:1250px;
        margin-top:-370px;
    }
    .icon-github{
        width:37px;
        height: 37px;
        margin-left:1250px;
        margin-top:-300px;
    }
    .icon-in{
        width:37px;
        height: 37px;
        margin-left:1250px;
        margin-top:-230px;
    }
    .Aboutme-1{
        font-size: 30px;
        margin-left: 550px;
    }
    .aboutmeimage-1{
        margin-left:465px;
    }
    .btn-outline-danger{
        margin-left:180px;
        width:200px;
        height:50px;
    }
    .btn-outline-primary{
       margin-left:360px;
       width:200px;
       height:50px;    
   }
    .Aboutme {
        font-size:40px;
        margin-left: 550px;
    }
    .aboutmecontent {
        font-size: 20px;
        margin-left: 400px;
        margin-right: 300px;
    }
    .rockets{
        height:40px;
        width:40px;
    }
    .passion{
        font-size: 25px;
        margin-left: 580px;
        margin-top: -60px;
    }
    .hr-1{
        margin-left: 500px;
        margin-right:500px;
    }
    .icon-2{
        margin-left: 520px;
        margin-top:-20px;
        width: 80px;
        height: 80px;
    }
    .icon-3{
        margin-left: 140px;
        margin-top:-20px;
        width: 75px;
        height: 75px;
    }
    .writing{
        font-size:30px;
        margin-left: 110px;
        margin-top:180px;
    }
    .hr-2{
        margin-left: 50px;
        margin-right:50px;
    }
    .Entropia{
        width:360px;
        height:460px;
        margin-top:30px;
        margin-left: 110px;
    }
    h5{
        font-size: 20px;;
        margin-top:-350px;
        margin-left:600px;
    }
    .caption1{
        font-size:19px;
        margin-left: 600px;
    }
    .Angeliperduti{
        width:360px;
        height:460px;
        margin-top:380px;
        margin-left: 810px;
    }
    .title2{
        font-size: 20px;
        margin-left:110px;
        margin-top:-350px;
    }
    .caption2{
        font-size:19px;
        margin-left: 110px; 
        margin-top:-10px;
    }
    .cinema{
        font-size:30px;
        margin-left: 110px;
        margin-top: 340px;
    }
    .hr-3{
        margin-left: 50px;
        margin-right:50px
    }
    .caption3{
        font-size: 22px;;
        margin-top:-350px;
        margin-left:600px;
    }
    .hr-4{
        margin-left:600px;
        margin-right:350px;
    }
    .thin-red-line{
        font-size:16px;
        margin-left:875px;
        margin-top:-10px;
    }
    .caption4{
        font-size: 22px;;
        margin-top:-350px;
        margin-left:110px;
    }
    .Fellini{
        font-size: 17px;;
        margin-top:-10px;
        margin-left:650px;
    }
    .icon-cv-3{
        height:70px;
        width:70px;
        margin-left:415px;
        margin-top:500px;
    }
    .icon-instagram-3{
        height:70px;
        width:70px;
        margin-left:50px;
        margin-top:500px;
    }
    .icon-github-3{
        height:70px;
        width:70px;
        margin-left:50px;
        margin-top:500px;
    }
    .icon-linkedin-3{
        height:70px;
        width:70px;
        margin-left:50px;
        margin-top:500px;
    }
    .Skills {
        font-size: 35px;
        margin-left:450px;
    }
    .icon-cv-2{
        height:75px;
        width:75px;
        margin-left:410px;
        margin-top:30px;
    }
    .icon-instagram-2{
        height:75px;
        width:75px;
        margin-left:50px;
        margin-top:30px;
    }
    .icon-github-2{
        height:75px;
        width:75px;
        margin-left:50px;
        margin-top:30px;
    }
    .icon-linkedin-2{
        height:75px;
        width:75px;
        margin-left:50px;
        margin-top:30px;
    }
    .contact{
        font-size: 26px;
        margin-left:590px;
        margin-top:70px;
    }
    .hr-5{
        margin-left: 500px;
        margin-right:500px;
        margin-top:10px;
    }
    form{
        margin-left:550px;
        margin-top:30px;
        height:360px;
    }
    input{
        width:200px;
        height:80px;
        border: 2px solid rgba(162, 0, 255, 0.76);
        border-radius:20px;
    }
    button{
        width:70px;
        height:35px;
        border: 1px solid rgba(162, 0, 255, 0.76);
    }
    .outro{
        font-size: 20px;
        margin-left:290px;
        margin-top:-100px;
    }
    .container-cv{
        width:955px;
        height:328px;
        margin-top:-403px;
        margin-left:-153px;
        border-radius: 150px;
        border:2px solid white
    }
    .photo-cv{
        width:300px;
        height:420px;
        margin-left:500px;
        margin-top:30px;
    }
    h4{
        font-size:30px;
        margin-left:100px;
        margin-top: 100px;
    }
    .hr-cv{
        margin-left:60px;
        margin-right:60px;
    }
    .info-cv{
        font-size:21px;
        margin-left:100px;
        margin-right:100px;
        margin-top:20px;
    }
    .footer-cv{
        width:96px;
        height:96px;
        margin-top:240px;
        margin-left:600px;
    }
} 

@media (min-width: 1400px) {
    .CodebySam{
        font-size: 24px;
        margin-left:120px;
    }
    .black-container{
        width:350px;
        height:350px;
        border: 2px solid #9f34e68e;
        margin-left:20px;
        margin-top: -120px;
        border-radius: 65px;
    }
    .name{
        font-size: 42px;
        margin-top: 130px;
        margin-left: 70px;
    }
    .surname{
        font-size: 42px;
        margin-top: -15px;
        margin-left: 110px;
    }
    .full-stack-developer {
        font-size: 27px;
        margin-left:45px;
    }
    .icon-cv{
        width:38px;
        height: 38px;
        margin-left:1300px;
        margin-top:-450px;
    }
    .icon-instagram{
        width:38px;
        height: 38px;
        margin-left:1300px;
        margin-top:-380px;
    }
    .icon-github{
        width:37px;
        height: 37px;
        margin-left:1300px;
        margin-top:-310px;
    }
    .icon-in{
        width:38px;
        height: 38px;
        margin-left:1300px;
        margin-top:-240px;
    }
    .Aboutme-1{
        font-size: 30px;
        margin-left: 610px;
    }
    .aboutmeimage-1{
        margin-left:520px;
    }
    .btn-outline-danger{
        margin-left:200px;
        width:200px;
        height:50px;
    }
    .btn-outline-primary{
       margin-left:410px;
       width:200px;
       height:50px;    
   }
    .Aboutme {
        font-size:40px;
        margin-left: 550px;
        margin-right: 350px;
    }
    .aboutmecontent {
        font-size: 25px;
        margin-left: 400px;
        margin-right: 300px;
    }
    .rockets{
        height:40px;
        width:40px;
    }
    .passion{
        font-size: 30px;
        margin-left: 590px;
        margin-top: -60px;
    }
    .hr-1{
        margin-left: 500px;
        margin-right:530px;
    }
    .icon-2{
        margin-left: 520px;
        margin-top:-20px;
        width: 80px;
        height: 80px;
    }
    .icon-3{
        margin-left: 140px;
        margin-top:-20px;
        width: 75px;
        height: 75px;
    }
    .writing{
        font-size:32px;
        margin-left: 60px;
        margin-top:180px;
    }
    .hr-2{
        margin-left: 60px;
        margin-right:60px;
    }
    .Entropia{
        width:360px;
        height:460px;
        margin-top:50px;
        margin-left: 60px;
    }
    h5{
        font-size: 24px;;
        margin-top:-350px;
        margin-left:600px;
    }
    .caption1{
        font-size:22px;
        margin-left: 600px;
    }
    .Angeliperduti{
        width:360px;
        height:460px;
        margin-top:380px;
        margin-left: 810px;
    }
    .title2{
        font-size: 24px;
        margin-left:110px;
        margin-top:-350px;
    }
    .caption2{
        font-size:22px;
        margin-left: 110px; 
        margin-top:-10px;
    }
    .cinema{
        font-size:32px;
        margin-left: 60px;
        margin-top: 340px;
    }
    .hr-3{
        margin-left: 60px;
        margin-right:60px
    }
    .caption3{
        font-size: 24px;;
        margin-top:-350px;
        margin-left:600px;
    }
    .hr-4{
        margin-left:600px;
        margin-right:350px;
    }
    .thin-red-line{
        font-size:20px;
        margin-left:885px;
        margin-top:-10px;
    }
    .caption4{
        font-size: 24px;;
        margin-top:-350px;
        margin-left:60px;
    }
    .Fellini{
        font-size: 20px;;
        margin-top:-10px;
        margin-left:640px;
    }
    .icon-cv-3{
        height:75px;
        width:75px;
        margin-left:455px;
        margin-top:500px;
    }
    .icon-instagram-3{
        height:75px;
        width:75px;
        margin-left:50px;
        margin-top:500px;
    }
    .icon-github-3{
        height:75px;
        width:75px;
        margin-left:50px;
        margin-top:500px;
    }
    .icon-linkedin-3{
        height:75px;
        width:75px;
        margin-left:50px;
        margin-top:500px;
    }
    .Skills {
        font-size: 35px;
        margin-left:490px;
    }
    .icon-cv-2{
        height:75px;
        width:75px;
        margin-left:450px;
        margin-top:30px;
    }
    .icon-instagram-2{
        height:75px;
        width:75px;
        margin-left:50px;
        margin-top:30px;
    }
    .icon-github-2{
        height:75px;
        width:75px;
        margin-left:50px;
        margin-top:30px;
    }
    .icon-linkedin-2{
        height:75px;
        width:75px;
        margin-left:50px;
        margin-top:30px;
    }
    .contact{
        font-size: 30px;
        margin-left:620px;
        margin-top:70px;
    }
    .hr-5{
        margin-left: 500px;
        margin-right:500px;
        margin-top:10px;
    }
    form{
        margin-left:590px;
        margin-top:30px;
        height:360px;
    }
    input{
        width:200px;
        height:80px;
        border: 2px solid rgba(162, 0, 255, 0.76);
        border-radius:20px;
    }
    button{
        width:70px;
        height:35px;
        border: 1px solid rgba(162, 0, 255, 0.76);
    }
    .background{
        width:1400px;
        height:660px;
    }
    .outro{
        font-size: 24px;
        margin-left:260px;
        margin-top:-100px;
    }
    .container-cv{
        width:955px;
        height:328px;
        margin-top:-403px;
        margin-left:-153px;
        border-radius: 150px;
        border:2px solid white
    }
    .photo-cv{
        width:300px;
        height:420px;
        margin-left:500px;
        margin-top:30px;
    }
    h4{
        font-size:30px;
        margin-left:100px;
        margin-top: 100px;
    }
    .hr-cv{
        margin-left:60px;
        margin-right:60px;
    }
    .info-cv{
        font-size:23px;
        margin-left:100px;
        margin-right:100px;
        margin-top:20px;
    }
    .footer-cv{
        width:96px;
        height:96px;
        margin-top:240px;
        margin-left:630px;
    }
}   